---
layout: mylayout.njk
---

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <hr>
  <div>
    <table id="cartSummary">
      <tr>
        <td id="cartTotal"></td>
      </tr>
      <tr>
        <td>
          <button>Checkout</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<script type="module" src="/js/cart.js"></script>